<a href="https://colab.research.google.com/github/patriciamediavilla/L1P2/blob/main/L1P3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PILAR ARIAS, YEDRA MARTÍN, PATRICIA MEDIAVILLA, AMAYA SARASA

<GRUPO 9>

#Practica 3

##INTRODUCCIÓN

Esta es la tercera práctica del primer laboratorio. Dada una base de datos en formato .csv, se nos pide contestar a una serie de cuestiones. Para ello, lo primero que debemos hacer es cargar y leer la base de datos:

In [2]:
#Importamos las librerías y la base de datos necesarias

import numpy as np #numpy
import pandas as pd #pandas
import sklearn as sk #scikit-learn
import matplotlib.pyplot as plt #gráfica Matplotlib

df = pd.read_csv('pokemon.csv',sep=',')
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Pokémon           20 non-null     object
 1   Tipo              20 non-null     object
 2   PS                20 non-null     int64
 3   Ataque            20 non-null     int64
 4   Defensa           20 non-null     int64
 5   Ataque especial   20 non-null     int64
 6   Defensa especial  20 non-null     int64
 7   Velocidad         20 non-null     int64
dtypes: int64(6), object(2)
memory usage: 1.4+ KB

,Pokémon,Tipo,PS,Ataque,Defensa,Ataque especial,Defensa especial,Velocidad
0,TYPHLOSION,Fuego,2,3,2,4,2,4
1,PONYTA,Fuego,2,3,2,2,2,3
2,TORKOAL,Fuego,2,3,4,3,2,1
3,ARCANINE,Fuego,3,5,3,4,3,4
4,STARMIE,Agua,2,3,3,4,2,4
5,PALKIA,Agua,3,4,3,5,3,4
6,MILOTIC,Agua,3,2,2,4,3,3
7,AZUMARILL,Agua,3,2,2,2,2,2
8,LEAFEON,Planta,2,4,4,2,2,3
9,ABOMASNOW,Planta,3,3,2,3,2,2
10,CHERUBI,Planta,1,1,2,2,1,1
11,BRELOOM,Planta,2,4,2,2,2,3
12,JOLTEON,Eléctrico,2,2,2,4,3,5
13,MAGNEZONE,Eléctrico,2,3,3,5,2,2
14,PIKACHU,Eléctrico,1,2,1,2,1,3
15,AMPHAROS,Eléctrico,3,3,3,5,4,3
16,DUSKNOIR,Fantasma,1,3,4,2,4,2
17,JIRATINA,Fantasma,4,4,3,4,3,3
18,SPIRITOMB,Fantasma,2,3,3,3,3,1
19,GENGAR,Fantasma,2,2,2,5,2,4

Subimos la base de datos, df.info nos aporta la infomación que contiene la base de datos, vemos las variables, el tipo de las variables con las que trabajamos... y .head vamos a ver que forma tiene la base de datos.

Según se ha estudiado en clase, encontramos dos métodos para afrontarlo. Nos decantaremos por CRISP-DM. Las siglas para: CRoss-Industry Standard Process for Data Mining. 

Es un modelo de proceso de minería de datos que se utiliza en la industria. Es un marco de trabajo que define un proceso estandarizado para llevar a cabo proyectos de minería de datos, desde la definición del problema hasta la implementación y evaluación del resultado.

## Comprensión del negocio y definición del problema.

Esta práctica en concreto consiste en un problema de 7 dimensiones, intentar reducir la dimensionalidad pero quedandonos con la mayor información posible, esto se consigue siguendo un método llamado, Análisis de componentes principales.

Para ello haremos uso de un dataset que se puede encontrar en Moodle.

## Comprensión de los datos

La base de datos que utilizaremos consta de 20 observaciones

Existen 8 tipos de atributos distintos:
- Pokemon:
- Tipo (del pokemon, fuego, agua, planta, eléctrico, fantasma)
- Ps (puntos de salud)
- Ataque
- Defensa
- Ataque especial
- Defensa especial
- Velocidad (del pokemon)

Como hemos explicado en el anterior paso de la motodología CRISP vamos a intentar reducir la dimensiones haciendo combianciones lineales de los 7 atributos.

TENEMOS QUE HACER ESTO: normalizar los datos.

##Preparación de los datos

En esta base de datos, tenemos muy pocas observaciones y 8 atributos, por lo que a simple vista podemosver que no hay valores vacíos, no hay outliers...

De hecho en el enunciado nos especifica que normalicemos los datos con el fin de no tener diferencias de rango para que no haya problemas para procesar la información.

In [3]:
#Importamos la librería necesaria para normalizar los datos
from sklearn.preprocessing import StandardScaler
#Seleccionamos los datos numéricos para la normalización de estos.
df1 = df[['PS','Ataque','Defensa','Ataque especial','Defensa especial', 'Velocidad']]
scaler = StandardScaler()
df_array= scaler.fit(df1)
df_norm_matriz = scaler.transform(df1)
df_norm = pd.DataFrame(data = df_norm_matriz, columns = ["PS",	"Ataque",	"Defensa",	"Ataque especial",	"Defensa especial",	"Velocidad"])
df_norm

          PS    Ataque  Defensa  Ataque especial  Defensa especial  Velocidad
0  -0.326164  0.054313    -0.75         0.564152             -0.50   1.037975
1  -0.326164  0.054313    -0.75        -1.171700             -0.50   0.135388
2  -0.326164  0.054313     1.75        -0.303774             -0.50  -1.669787
3   0.978492  2.226814     0.50         0.564152              0.75   1.037975
4  -0.326164  0.054313     0.50         0.564152             -0.50   1.037975
5   0.978492  1.140563     0.50         1.432078              0.75   1.037975
6   0.978492 -1.031938    -0.75         0.564152              0.75   0.135388
7   0.978492 -1.031938    -0.75        -1.171700             -0.50  -0.767199
8  -0.326164  1.140563     1.75        -1.171700             -0.50   0.135388
9   0.978492  0.054313    -0.75        -0.303774             -0.50  -0.767199
10 -1.630820 -2.118189    -0.75        -1.171700             -1.75  -1.669787
11 -0.326164  1.140563    -0.75        -1.171700             -0.50   0.135388
12 -0.326164 -1.031938    -0.75         0.564152              0.75   1.940563
13 -0.326164  0.054313     0.50         1.432078             -0.50  -0.767199
14 -1.630820 -1.031938    -2.00        -1.171700             -1.75   0.135388
15  0.978492  0.054313     0.50         1.432078              2.00   0.135388
16 -1.630820  0.054313     1.75        -1.171700              2.00  -0.767199
17  2.283148  1.140563     0.50         0.564152              0.75   0.135388
18 -0.326164  0.054313     0.50        -0.303774              0.75  -1.669787
19 -0.326164 -1.031938    -0.75         1.432078             -0.50   1.037975

En la celda de arriba hemos normalizado los datos numéricos de nuestra base de datos, después hemos hecho uso de la herramienta que nos indican para la normalización de estos.

A continuación,

In [4]:
df_cov = df_norm.cov()
eigenvalues, eigenvectors=np.linalg.eig(df_cov)
#Ordenamos de mayor a menor
eigenvalues = np.sort(eigenvalues)[::-1]
#calculamos el porcentaje de varianza
porcent_var=eigenvalues*100/sum(eigenvalues)
#calculamos el acumulado
porcent_acumulado=np.zeros(len(porcent_var))
porcent_acumulado[0]=porcent_var[0]
for i in range (1,len(porcent_acumulado)):
  porcent_acumulado[i]=porcent_acumulado[i-1]+porcent_var[i]
#creamos un DataFrame con los datos
df2 = pd.DataFrame({'Autovalores': eigenvalues, 'porcent_var': porcent_var,'porcent_acumulado': porcent_acumulado },index=[1,2, 3, 4, 5, 6])
df2

   Autovalores  porcent_var  porcent_acumulado
1     2.629979    41.641341          41.641341
2     1.550661    24.552140          66.193481
3     0.780824    12.363041          78.556522
4     0.715521    11.329090          89.885612
5     0.474598     7.514464          97.400076
6     0.164206     2.599924         100.000000

In [11]:
eigenvectors

array([[ 0.45454125,  0.15847313,  0.37672419, -0.07820604,  0.78451794,
         0.06908557],
       [ 0.45072878, -0.25198079, -0.491921  ,  0.1067326 , -0.02435867,
         0.69237113],
       [ 0.31882326, -0.63200759,  0.5475605 ,  0.33202671, -0.277256  ,
        -0.10946693],
       [ 0.42331653,  0.38227978, -0.30437481,  0.61163075, -0.07575687,
        -0.4496554 ],
       [ 0.48098891, -0.16852151, -0.23006595, -0.68447289, -0.16380914,
        -0.43815894],
       [ 0.27935701,  0.58087953,  0.41315342, -0.17220602, -0.52392254,
         0.33119957]])

https://medium.com/qu4nt/componentes-principales-con-python-a9ae80faac15

In [22]:
rxy = []
for i in range (0,len(porcent_acumulado)):
  for j in range (0,len(porcent_acumulado)):
    eigenvectors1 = eigenvectors[i][j]
    eigenvalues1 = eigenvalues[j]
    Sii = [i][i]
    rxi = eigenvectors1*np.sqrt(eigenvalues1)/np.sqrt(Sii)
    rxy.append(rxi)
dfcomp = pd.DataFrame({'Compomentes': rxy})
dfcomp

<ipython-input-22-6b3abff9092b>:8: RuntimeWarning: divide by zero encountered in double_scalars
  rxi = eigenvectors1*np.sqrt(eigenvalues1)/np.sqrt(Sii)

IndexError: ignored